@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
:root {
  --bg-color: #0F0E17;
  --color: #FF8906;
  --white: #fff;
  --black: #000;
  --grey: #A7A9BE;
}

* {
  background-color: var(--bg-color);
  /* color: var(--white); */
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}